<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>ASSET MANAGEMENT</h1>
<h2>UPDATE ASSET</h2>
<div class="btn-group">
    <input type="button" value="All Assets" onclick="window.location.href='/assets'"/>
    <input type="button" value="Add Asset" onclick="window.location.href='/assets/submit'" />
</div>
<p> INFO: Only fields marked with * can be updated</p>
<form action="#" th:action="@{/assets/{id}(id=${asset.id})}" method="post" id="formupdate">
    <p>Id: <input type="number" th:field="*{asset.id}" disabled="disabled"/></p>
    <p>Name: <input type="text" th:field="*{asset.name}" disabled="disabled"/></p>
    <p>Model: <input type="text" th:field="*{asset.model}"disabled="disabled"/></p>
    <p>Specification*: <input type="number" th:field="*{asset.specification.id}"/></p>
    <p>Category: <input type="text" th:field="*{asset.category}" disabled="disabled"/></p>
    <p>Employee*: <input type="number" th:field="*{asset.employee.id}"/></p>
    <p>Location*: <input type="text" th:field="*{asset.location}"/></p>
    <p>Intervention*: <input type="number" th:field="*{asset.intervention.id}"/></p>
    <p>Purchase Date: <input type="date" th:field="*{asset.purchaseDate}" disabled="disabled"/></p>
    <p>Disposal Date*: <input type="date" th:field="*{asset.disposalDate}"/></p>
    <p><input type="submit" value="Update" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>